POLYTOPIA_RESOURCES = "D:\Projects\PolytopiaArchipelagoMW\resources"
POLYTOPIA_MOD_DIR = "D:\Steam\steamapps\common\The Battle of Polytopia\Mods\polytopia-AP"
POLYTOPIA_DEBUG_DLL = "D:\Projects\PolytopiaArchipelagoMW\bin\Debug\net6.0\PolytopiaArchipelagoMW.dll"
POLYTOPIA_X_DLL = "D:\Projects\PolytopiaArchipelagoMW\bin\X\net6.0\PolytopiaArchipelagoMW.dll"